<section class='post-sec'>
  <div class='post-info'>
    <h2>Post #<%= @post.id %> by <%= @post.author.name %></h2>
    <div class='post-react'>
      <h5>Comments: <%= @post.comments_counter%></h5>
      <h5>Likes: <%= @post.likes_counter%></h5>
    </div>
  </div>
  <div class='post-text'><p><%= @post.text%></p></div>
  <div class='comments'>
    <ul>
      <% @post.comments.each do |comment| %>
        <li><%= comment.author.name%> : <%= comment.text%></li>
      <% end %>
    </ul>
  </div>
</section>
